
<h2>Samples</h2>
<p>
  <button id="create" class="btn btn-primary" type="button">New Sample</button>
</p>     

<div class="row">
	<div class="col-md-6">
		
	<div>
			
 <table class="table">
    <thead>
      <tr>
      	<th>#</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    
    <tbody id="sample-list"></tbody>
    
  </table>
				
			</div>
		</div>
		
		
		<div class="col-md-6">
		
			<div id="sampleForm" ></div>
		
		</div>
		
		
	</div>

  
  